<div class="container">
  <h3 class="text-center mb-3">フォロー一覧</h3>
  <div class="row">
    <% if @customers.exists? %>
      <%= render "public/relationships/customers", customers: @customers %>
    <% else %>
      <p class="col-12 text-center"><b>まだ誰もフォローしていません</b></p>
    <% end %>
  </div>
</div>

