<div class="container mb-5">
  <div class="text-center center-block">
    <h1><i class="fas fa-tasks"></i>MyTaskControl</h1>
    <p>タスクを楽しく管理しましょう！</p>
    <p>溜まったタスクをまとめて管理！</p>
    <p>進捗チェックも忘れずに！</p>
    <%= image_tag "task.jpg", alt: "", width: 500, height: 300 %>
  </div>
</div>
