<div class="container mb-5">
  <div class="text-center center-block">
    <h1>ようこそ！<br>
      <i class="fas fa-tasks"></i><strong>MyTaskControlへ</strong></h1>
    <p>タスクを楽しく管理しましょう！</p>
  </div>
</div>