<div class="container px-5 px-sm-0">
  <h2>会員一覧</h2>
  <% @customers.each do |customer| %>
    <div class="row">
      <div class="col-md-4 offset-md-3">名前</div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= image_tag customer.get_customer_image(200,200), :width => "100%" %>
      </div>
      <div class="col-md-2">
        <%= customer.full_name %>
      </div>
      <div class="col-md-8">
        <%= link_to "詳細", admin_customer_path(customer.id) %>
      </div>
    </div>
  <% end %>
</div>
