<% if task.favorited_by?(current_customer) %>
  <%= link_to task_favorites_path(task), method: :delete, remote: true do %>
    <span>
      <i class="fas fa-heart count" style="color: #FF367F"></i> <%= task.favorites.count %>
    </span>
  <% end %>
<% else %>
  <%= link_to task_favorites_path(task), method: :post, remote: true do %>
    <span>
      <i class="far fa-heart count" style="color: #FF367F"></i> <%= task.favorites.count %>
    </span>
  <% end %>
<% end %>