@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "skippr";

body {
 font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
 word-break: break-all;
 background-color: rgba(255,255,255,0.4);
 background-blend-mode: lighten;
 background-size: cover;
}

#alert {
 font-size: 20px;
 font-weight: bold;
 color: #ff0000;
}

#notice{
 font-size: 20px;
 font-weight: bold;
 color: #0000ff;
}
.count {
 font-size: 20px;
}

a {
 text-decoration:none !important;
}

.table-center {
 text-align: center;
}

.comment {
 padding-top: 10px;
 width: 100%;
}

#comments_area {
 width: 100%;
}

.task_show {
 border: ridge;
}

.comment_index {
 border: ridge;
 padding: 10px;
}

.status {
 background-color: #eeffff;
 font-size: 20px;
 border-radius: 20px;
}

.show_tag {
 border-radius: 5px;
}

.notReady {
 color: #C0C0C0;
}

.Ready {
 color: #DC143C;
}

.Doing {
 color: #1E90FF;
}

.Done {
 color: #00CC66;
}

.footer-mb {
  margin-bottom: 250px;
}

.introduction {
 width: 400px;
 height: auto;
 padding: 0;
}

.new-task, .info {
 background-color: #ccccff;
 border-radius: 20px
}

.field_with_errors {
 display: contents;
}

.alert #error_explanation {
 color: #262626;
 background: #FFEBE8;
 text-align: center;
 border: 2px solid #990000;
}

ul {
 list-style: none;
}

.pagination {
 margin-top: 2rem;
 justify-content: center;
}

/* https://bootsnipp.com/snippets/a6Pdk参考 */

.card-container.card-class {
 max-width: 350px;
 padding: 40px 40px;
}

.card-class {
 background-color: #F7F7F7;
 padding: 20px 25px 30px;
 margin: 0 auto 25px;
 margin-top: 50px;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border-radius: 2px;
 -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
 width: 96px;
 height: 96px;
 margin: 0 auto 10px;
 display: block;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
 direction: ltr;
 height: 44px;
 font-size: 16px;
}

.form-signin button {
 width: 100%;
 display: block;
 margin-bottom: 10px;
 z-index: 1;
 position: relative;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.form-signin .form-control:focus {
 border-color: rgb(104, 145, 162);
 outline: 0;
 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
 background-color: rgb(104, 145, 162);
 padding: 0px;
 font-weight: 700;
 font-size: 14px;
 height: 36px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 border: none;
 -o-transition: all 0.218s;
 -moz-transition: all 0.218s;
 -webkit-transition: all 0.218s;
 transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
 background-color: rgb(12, 97, 33);
}

/* https://saruwakakun.com/html-css/reference/speech-bubble参考 */

.balloon5 {
 width: 100%;
 margin: 1.5em 0;
 overflow: hidden;
}

.balloon5 .faceicon {
 float: left;
 margin-right: -90px;
 width: 80px;
}

.balloon5 .faceicon img{
 width: 100%;
 height: auto;
 border: solid 3px #d7ebfe;
 border-radius: 50%;
}

.balloon5 .chatting {
 width: 100%;
}

.says {
 display: inline-block;
 position: relative;
 margin: 5px 0 0 105px;
 padding: 17px 13px;
 border-radius: 12px;
 background: #d7ebfe;
}

.says:after {
 content: "";
 display: inline-block;
 position: absolute;
 top: 18px;
 left: -24px;
 border: 12px solid transparent;
 border-right: 12px solid #d7ebfe;
}

.says p {
 margin: 0;
 padding: 0;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
 .none {
  display: none;
 }

}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
 .none {
  display: none;
 }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
 .none {
  display: none;
 }
}