<% if notice %>
  <p id="notice" class="text-center mb-0", style="background-color: #ccccff"><%= notice %></p>
<% end %>
<% if alert %>
  <p id="alert" class="text-center mb-0", style="background-color: #ccccff"><%= alert %></p>
<% end %>
