<% if notice %>
  <p id="notice" class="text-center mx-auto", style="background-color: #ccccff"><%= notice %></p>
<% else %>
  <p id="alert" class="text-center mx-auto", style="background-color: #ccccff"><%= alert %></p>
<% end %>