<footer class="pt-5 pb-4", style="background-color: #9966FF">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
      <p class="text-light">©CopyRight</p>
      <p><%= link_to "管理者ログイン", new_admin_session_path, class: "text-light" %></p>
      <p><%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "text-light" %></p>
      </div>
    </div>
  </div>
</footer>